<% @user ||= current_user %>
<strong id="applying" class="stat">
<div class="stats">
  <a href="<%= applying_user_path(@user) %>">
    <strong id="following" class="stat">
      <%#= @user.applying.count %>
      <%= @user.email %>
    </strong>
    Applying
  </a>
</div>
</strong>