<%#= form_for(current_user.active_apply.build) do |f| %>
  <div><%#= hidden_field_tag :post_id, post_id %></div>
  <%#= f.submit "Apply", class: "btn btn-primary" %>
<%# end %>

<%#= link_to "Apply", 'javascript:void(0)', :method => :post, class: "btn btn-sm btn-primary", :id => "job_btn", 'data-id' => "#{post_id}"  %>





