<h1>All List Of Jobs</h1>


<table bgcolor="yellow" align="center" width="100%">
<ul class="users">
<% if (@posts.any?) %>
<tr>
	<td>Post Id</td>
	<td>Post Title</td>
	<td>Posted By</td>
	<td>Status</td>
	</tr>
  <% @posts.each do |post| %>
<tr>
     
      <td><%= link_to post.id, '#' %></td>
     <td><%= link_to post.title, show_for_user_path(post.id) %></td>
     
    <td> <%= link_to post.user_id, profile_path(post.user_id) %></td>

 <td>    <%= link_to "Apply", post_path(post.id) %></td>
</tr>
  <% end %>
<% else %>
	No any Jobs
<% end %>

</ul>
</table>

