<h1>All users</h1>
<div>UserId</div>


<ul class="users">

  <% @users.each do |user| %>
    <li>
     <% if user.roles != true %>
      <%= link_to user.email, profile_path(user) %>
      <% end %>
      <% if (current_user.admin == true) && !user.admin? %>
    | <%= link_to "delete", profile_path(user.id) , method: :delete,
                                  data: { confirm: "r you sure?" } %>
       <% end %>
  	
    </li>
  <% end %>


